/** Color settings for Terminal **/
*.background:               #010101
*.background-alt:           #2c465b
*.foreground:               #c2c8d7
*.foreground-alt:           #a2a8a7
*.cursorColor:              #b3b8c3
!
! Black
*.color0:                   #000000
*.color8:                   #777777
!
! Red
*.color1:                   #ee2b2a
*.color9:                   #dc5c60
!
! Green
*.color2:                   #40a33f
*.color10:                  #70be71
!
! Yellow
*.color3:                   #ffea2e
*.color11:                  #fff163
!
! Blue
*.color4:                   #1e80f0
*.color12:                  #54a4f3
!
! Magenta
*.color5:                   #8800a0
*.color13:                  #aa4dbc
!
! Cyan
*.color6:                   #16afca
*.color14:                  #42c7da
!
! White
*.color7:                   #a4a4a4
*.color15:                  #ffffff
!
! Bold, Italic, Underline
*.colorBD:                  #ffffff
!*.colorIT:
!*.colorUL:


/** Font configuration **/
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.hintstyle:              hintfull

/** Rofi Configuration **/
rofi.modi:                  run,window,ssh,drun
rofi.color-enabled:         true
rofi.terminal:              urxvt
rofi.ssh-client:            ssh
rofi.run-shell-command:     urxvt -e '{cmd}'
rofi.ssh-command:           urxvt -e {ssh-client} {host}

! Theme settings
rofi.theme:                 /usr/share/rofi/themes/android_notification.rasi
rofi.show-icons:            true

! Cursor settings
Xcursor.size:               64

/** Urxvt Configuration **/
! Cursor settings
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Font to use
URxvt.xftAntialias:         true
URxvt.font:                 xft:Inconsolata Nerd Font Mono:size=14

! Show or hide scrollbar
URxvt.scrollBar:            false

! Scroll to buttom on keypress
URxvt*scrollTtyOutput:      true

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

! Plugins
URxvt.perl-ext-common:      selection-to-clipboard,matcher

! Clickable urls
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1

! Keymap
URxvt.keysym.Home:          \033[1~
URxvt.keysym.End:           \033[4~
URxvt.keysym.KP_Home:       \033[1~
URxvt.keysym.KP_End:        \033[4~
