[Unit]
Description=Google Drive mount using Rclone
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --allow-non-empty GDrive:/ %h/GDrive
ExecStop=/usr/bin/fusermount -uz %h/GDrive

[Install]
WantedBy=default.target
Wants=network-online.target
